#sidebar
{
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-top: -20px;
}

#maincontent
{
	width: 75%;
	display: inline-block;
}

#sidebar a
{
	text-decoration:none;
}

#sidebar li
{
	border-bottom:1px solid black;
}

.sudah
{
	background-color:lightblue;
	font-weight:normal !important;
}

.sudah:hover
{
	background-color:#E5FFCC;
}

li
{
	font-weight:bold;
}

.portlet-title
{
	color: black;
}

.onprogress
{
	background-color:#98FB98;
}

.onprogress:hover
{
	background-color:#00FF00;
}

.belum
{
	color:#A0A0A0;
}

.unggah
{
	border-top:1px solid black;
	background-color:lightblue;
}

.unggah:hover
{
	background-color:#E5FFCC;
}