#sidebar
{
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-top: -20px;
}

#maincontent
{
	width: 75%;
	display: inline-block;
}

#sidebar a
{
	text-decoration:none;
}

#sidebar li
{
	border-bottom:1px solid;
}
.sudah
{
	background-color:lightblue;
	font-weight:normal !important;
}

li
{
	font-weight:bold;
}

.portlet-title
{
	color: black;
}